:root{
    --mainColor:#3ABEF9;
}
.pdata {
    padding-left: 15px;
}

.pname,
.seller-name,
.pprice,
.pproparities,
.pdecription {
    font-weight: bold;
}

.properity {
    font-weight: 400;
}

.related-container {
    position: relative;
    display: flex;
    height: 420px;
    overflow-x:scroll;
    overflow-y:hidden;
    padding: 10px 60px 30px 40px;
    scroll-behavior: smooth;
    gap: 20px;
}
.card {
    height: 200px;
    flex-shrink: 0;
}
/* .related-container::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    top: calc(50% - 25px);
    left: calc(100% - 50px);
}
.related-container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    top: calc(50% - 25px);
    left: 0;
    z-index: 2;
} */
.moving-btns .rt ,.lt {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color:var(--mainColor);
    text-align: center;
    position: absolute;
    border: 0;
}
.moving-btns i{
    color: white;
    font-size: 30px;
}
.cont-rel{
    position: relative;
}
.rt {
    position: absolute;
    top: calc(50% - 25px);
    left: 100%;
}
.lt {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
}
.related-container::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}