:root {
    --mainColor: #3ABEF9;
    --primary: #36d4e9;
    --light-bg: #f4f4f4; /* gray */
    --dark-text: #333;
    --light-text: #fff;
    --secondary: #ff6b6b;
}
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--light-bg);
}

.pdata {
    padding-left: 15px;
}

.pname,
.brand-name,
.category,
.pprice,
.pproparities,
.pdecription {
    font-weight: bold;
}

.properity {
    font-weight: 400;
}

.related-container {
    position: relative;
    display: flex;
    height: 420px;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    padding: 10px 60px 30px 40px;
    scroll-behavior: smooth;
    gap: 20px;
}

.card {
    height: 200px;
    flex-shrink: 0;
}

.moving-btns .rt,
.lt {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--mainColor);
    text-align: center;
    position: absolute;
    border: 0;
}

.moving-btns i {
    color: white;
    font-size: 30px;
}

.cont-rel {
    position: relative;
}

.rt {
    position: absolute;
    top: calc(50% - 25px);
    left: 100%;
}

.lt {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
}

.related-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Edge, Safari */
}
